{% extends 'base.html.twig' %}

{% block title %}About me{% endblock %}

{% block body %}

<div class="container">

    <div class="centre">
        <div>
            <h2>A propos</h2>
            <p>Bienvenue sur la page qui regroupe toutes les informations utiles sur moi, vous pourrez pas exemple savoir <a href="#qui_suis_je" class="text-info">qui suis-je</a>, quels sont mes objectifs ou encore une liste complète de chaque compétences que je maitrise...</p>
        </div>
    </div>
    <div class="centre" id="qui_suis_je">
        <div>
            <h2>Qui suis-je ?</h2>
            <p>Pour commencer, je m'appelle Thomas ROBERT, je suis née le 13 novembre 2001 à Champigny-sur-Marne ! Je réside actuellement au Plessis-Trévise (94420), FRANCE, en banlieue EST de Paris.</p>
            <p>Je possède les diplômes du "Brevet des collèges" ainsi que un "BAC STI2D option SIN" mention "assez bien".</p>
            <p>Je suis passionné d'informatique et de nouvelles technologies en tout genres. Je ne cesse d'apprendre de moi même de nouvelles technologies de manière autodidacte ainsi que de m'exercer en me faisant des projets personnels ! Quelles sont mes <c class="text-info">compétences</c> ? Rendez vous <a href="#competences" class="text-warning">ici</a> pour le savoir ! </p>
        </div>
    </div>
    <div class="centre" id="competences">
        <div>
            <h2>Mes compétences</h2>
            <p>Parcourez dès à présent les différents langages pour en apprendre plus sur mes capacités dans celles-ci ! Rendez-vous dans le language de votre choix pour en apprendre plus dès maintenant !</p>
            <br>
            <center>
                <div class="card zoom border-primary" style="width: 50%; border-radius: 10px;">
                    <div class="card-body">
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "javascript"}) }}">JavaScript</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "php"}) }}">PHP</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "java"}) }}">Java</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "python"}) }}">Python</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "html"}) }}">HTML</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "css"}) }}">CSS</a>
                        <a type="button" class="btn btn-outline-info zoom" href="{{ path('app.skills', {'name': "twig"}) }}">Twig</a>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
</div>

{% endblock %}