{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit{% endblock %}
{% block body %}

    <div class="centre">
        <div>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="edit-pseudo">
                {{ form_row(form.Username) }}
            </div>
            <div id="edit-email">
                {{ form_row(form.Email) }}
            </div>
            <div id="edit-password">
                {{ form_row(form.password) }}
            </div>
            <div id="edit-password">
                {{ form_row(form.AccepterLesConditions) }}
            </div>
            <div id="edit-submit">
                {{ form_row(form.Envoyer) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
