<div class="card-deck">
    <div class="card border-info zoom admin-card" style="width: 10rem; margin: 10px; margin-left: 5px; border-radius: 10px;">
        <div class="card-body">
            <center>
                <h7 class="card-title"><i class="fas fa-id-card-alt"></i> {{ user.id }}
                    {% if user.roles == ["ROLE_USER"] %}
                        <span class="badge badge-pill badge-warning admin-card-button-right-role">User</span>
                    {% elseif user.roles == ["ROLE_ADMIN", "ROLE_USER"] %}
                        <span class="badge badge-pill badge-primary admin-card-button-right-role">Admin</span>
                    {% else %}
                        <span class="badge badge-pill badge-danger admin-card-button-right-role">Super</span>
                    {% endif %}
                </h7>
            </center>
            <br>

            <center>
                <p class="card-text mb-3 admin-card-text">
                    <b>Pseudo</b> : {{ user.username }}
                    <br>
                    <b>Email</b> : {{ user.email }}
                </p>
            </center>


            <center>
                <a href="{{ path('app.user.delete', {'id': user.id}) }}" onclick="return confirm('Supprimer cette utilisateur est irréversible, êtes vous sûr ?')"><button type="button" class="btn btn-danger admin-card-button-left" style="border-radius: 10px;"><i class="fas fa-user-times"></i></button></a>
                <a href="{{ path('app.user.edit', {'id': user.id}) }}"><button type="button" class="btn btn-success admin-card-button-bottom" style="border-radius: 10px;"><i class="fas fa-user-edit"></i></button></a>
                {% if app.user.id == user.id %}
                    <button type="button" class="btn btn-info disabled admin-card-button-right" style="border-radius: 10px;"><i class="fas fa-user-tag"></i></button>
                {% else %}
                    <a href="{{ path('app.user.changerole', {'id': user.id}) }}"><button type="button" class="btn btn-info admin-card-button-right" style="border-radius: 10px;"><i class="fas fa-user-tag"></i></button></a>
                {% endif %}
            </center>
        </div>
    </div>
</div>
