{% extends 'base.html.twig' %}

{% block title %}Feedbacks{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="centre">
            <div>
                <h2>Feedbacks</h2>
                <p>Vous voila sur la page des feedbacks, c'est à dire des commentaires que vous me faites. Je vous laisse à chacun le droit de vous exprimer librement. Mais faites attention, les commentaires ne sont ni <d class="text-warning">modifiables</d> ni <d class="text-warning">effaçables</d> ! Commencez dès maintenant à me dire ce que vous pensez du site en <a href="#form" class="text-success">créant</a> votre premier feedback !</p>
                <br><br>
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p id="feedback1">“Le silence est l'expression la plus parfaite du mépris.”</p>
                    </blockquote>
                    <figcaption class="blockquote-footer" id="feedback2">
                        George Bernard Shaw, <cite title="Source Title">Scénariste</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="centre" id="form">
            <div>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div id="feedback-title">
                    {{ form_row(form.Title) }}
                </div>
                <div id="feedback-content">
                    {{ form_row(form.Content) }}
                </div>
                <div id="feedback-author">
                    {{ form_row(form.Author) }}
                </div>
                <div id="feedback-submit">
                    {{ form_row(form.Envoyer) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="centre" id="created">
        <div>
            <h2>Merci !</h2>
            <p>Vous avez participé à <c class="text-success">l'évolution</c> du site grâce à ce commentaire ! Vous voulez voir ce qui se dit ? Alors rendez-vous dans la partie <a href="#commentaires" class="text-info">commentaires</a> du site !</p>
        </div>
    </div>

    <div class="centre container" id="commentaires">
        <div>
            <h2>Commentaires récents :</h2>
        </div>
        {% for feedback in feedbacks %}
            <figure class="text-center feedbacks-title">
                <blockquote class="blockquote text-center zoom">
                    <p class="mb-0 ml-2">{{ feedback.content }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{ feedback.title }} <cite title="Source Title">{{ feedback.author }}</cite>
                </figcaption>
            </figure>
        {% endfor %}
    </div>
    <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
{% endblock %}