{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container" style="margin-bottom: 3%">
        <div class="centre">
            <div>
                <h2>Portfolio de projets</h2>
                <p>Bienvenue sur la page qui regroupe tous mes projets répértoriés à ce jour. Vous pouvez soit accèder directement à mon<a href="https://gitlab.com/reapex" class="text-warning"> GitLab</a> ou bien parcourir les différents thèmes de mes projets. Vous pouvez par exemple commencer à aller voir mes <a href="#projet-formation" class="text-info">projets de formation</a>, c'est à dire les projets qui m'ont permit de me former dans diverses technologies... Vous pouvez également trouver des <a href="#projet-perso" class="text-success">projets personnels</a> de tout types...</p>
            </div>
        </div>

        <div class="centre"></div>
        <a id="projet-formation">
            <div style="height: 25vh"></div>
            <center><h1 >Projets de formation.</h1></center><br><br>
        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet1['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet1['description'] }}</h6>
                        {{ projet1['readme_url'] | raw }}
                        <a href="{{ projet1['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img3.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet2['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet2['description'] }}</h6>
                        {{ projet2['readme_url'] | raw }}
                        <a href="{{ projet2['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet3['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet3['description'] }}</h6>
                        {{ projet3['readme_url'] | raw }}
                        <a href="{{ projet3['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>


    <!-------------------------------------------------------->

        <div class="centre"></div>
        <a id="projet-perso">
            <div style="height: 25vh"></div>
            <center><h1 >Projets personnels.</h1></center><br><br>
        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet1['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet1['description'] }}</h6>
                        {{ projet1['readme_url'] | raw }}
                        <a href="{{ projet1['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img3.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet2['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet2['description'] }}</h6>
                        {{ projet2['readme_url'] | raw }}
                        <a href="{{ projet2['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <h8 class="card-title">{% for langue in projet3['languages'] %} {{ langue | raw }} {% endfor %}</h8>
                        <h6 class="card-text">{{ projet3['description'] }}</h6>
                        {{ projet3['readme_url'] | raw }}
                        <a href="{{ projet3['web_url'] }}" class="btn btn-warning"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}