{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container" style="margin-bottom: 3%">
        <div class="centre">
            <div>
                <h2>Portfolio de projets</h2>
                <p>Bienvenue sur la page qui regroupe tous mes projets répertoriés à ce jour. Vous pouvez soit accéder directement à mon<a href="https://gitlab.com/reapex" class="text-warning"> GitLab</a> ou bien parcourir les différents thèmes de mes projets. Vous pouvez par exemple commencer à aller voir mes <a href="#projet-formation" class="text-info">projets de formation</a>, c'est à dire les projets qui m'ont permis de me former dans diverses technologies... Vous pouvez également trouver des <a href="#projet-perso" class="text-success">projets personnels</a> de tous types...</p>
            </div>
        </div>

        <div class="centre"></div>
        <a id="projet-formation">
            <div style="height: 25vh"></div>
            <center><h1 >Projets de formation.</h1></center><br><br>
        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet1['id']})  }}">Informations</a>
                        {#<h8 class="card-title">{% for langue in projet1['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet1['description'] }}</h6>
                        {{ projet1['readme_url'] | raw }}
                        <a href="{{ projet1['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/19872619.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet2['id']})  }}">Informations</a>
                        {# <h8 class="card-title">{% for langue in projet2['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet2['description'] }}</h6>
                        {{ projet2['readme_url'] | raw }}
                        <a href="{{ projet2['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet3['id']})  }}">Informations</a>
                        {# <h8 class="card-title">{% for langue in projet3['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet3['description'] }}</h6>
                        {{ projet3['readme_url'] | raw }}
                        <a href="{{ projet3['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>


    <!-------------------------------------------------------->

        <div class="centre"></div>
        <a id="projet-perso">
            <div style="height: 25vh"></div>
            <center><h1 >Projets personnels.</h1></center><br><br>
        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet4['id']})  }}">Informations</a>
                        {# <h8 class="card-title">{% for langue in projet4['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet4['description'] }}</h6>
                        {{ projet4['readme_url'] | raw }}
                        <a href="{{ projet4['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/19872619.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet5['id']})  }}">Informations</a>
                        {# <h8 class="card-title">{% for langue in projet5['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet5['description'] }}</h6>
                        {{ projet5['readme_url'] | raw }}
                        <a href="{{ projet5['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card border-primary" style="width: 18rem; height: 430px">
                    <img src="{{ asset('img/img2.png') }}" class="card-img-top imgflou" alt="...">
                    <div class="card-body">
                        <a class="h8 card-title text-info" href="{{ path('app.project.id', {'id': projet6['id']})  }}">Informations</a>
                        {# <h8 class="card-title">{% for langue in projet6['languages'] %} {{ langue | raw }} {% endfor %}</h8> #}
                        <h6 class="card-text">{{ projet6['description'] }}</h6>
                        {{ projet6['readme_url'] | raw }}
                        <a href="{{ projet6['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}