{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

    <div class="container" style="margin-bottom: 3%">
        <div class="centre">
            <div>
                <h2>Portfolio de projets</h2>
                <p>Bienvenue sur la page qui regroupe tous mes projets répertoriés à ce jour. Vous pouvez soit accéder directement à mon<a href="https://github.com/xReapex" class="text-warning"> <i class="fab fa-github"></i> Github</a> ou bien parcourir les différents thèmes de mes projets. Vous pouvez par exemple commencer à aller voir mes <a href="#projet-formation" class="text-info">projets de formation</a>, c'est à dire les projets qui m'ont permis de me former dans diverses technologies... Vous pouvez également trouver des <a href="#projet-perso" class="text-success">projets personnels</a> de tous types...<br>Vous pouvez consulter <a href="#projet_a_la_une" class="text-danger">les projets à la une</a>, ce sont des projets maintenus et utilisablent dès maintenant ! N'hésitez pas à me faire parvenir vos avis.</p>
            </div>
        </div>

        <div class="centre">
            <div id="projet_a_la_une">
                <div style="height: 25vh"></div>
                <center><h1 >Projets à la une</h1></center><br><br>
                <div class="row">
                    <div class="zoom col-sm-6">
                        <div class="card project-card" style="width: 18rem; height: 100%">
                            <div class="card-body">
                                <h7 class="card-title"><c class="text-primary"><i class="fab fa-github"></i></c> Gestion de budget</h7>
                                <h6 class="card-text">Ce projet est une application de bureau de gestion de budget. Gérez votre budget depuis votre ordinateur, saisissez votre budget puis ajoutez des dépenses ou des rentrées d'argent puis analysez votre bilan <a class="text-info" href="{{ path('app.projet.download.gdb') }}"><i class="fas fa-download"></i></a> . <a class="text-info" href="{{ path('app.projet.docs.url_generator', {'name': 'gdb'}) }}">Docs</a></h6>
                                <a href="https://github.com/xReapex/GDB/blob/main/README.md" class="btn btn-primary" target="_blank"><i class="fab fa-readme"></i> README.md</a>
                                <a href="https://github.com/xReapex/GDB" style="color: #e8eaea" class="btn" target="_blank"><i class="fab fa-github"></i> Github</a>

                            </div>
                        </div>
                    </div>
                    <div class="zoom col-sm-6">
                        <div class="card project-card" style="width: 18rem; height: 100%">
                            <div class="card-body">
                                <h7 class="card-title"><c class="text-primary"><i class="fab fa-github"></i></c> Catalogue de films</h7>
                                <h6 class="card-text">Ce projet est un site servant de catalogue de films, retrouvez vos films ou séries, leurs notes ou bien découvrez de nouveaux films ou série à voir en triant par genres. Créez un compte pour profiter pleinement du site. <a class="text-info" href="{{ path('app.projet.docs.url_generator', {'name': 'catalogue'}) }}">Docs</a></h6>
                                <a href="https://github.com/xReapex/MovieCatalogWebsite/blob/master/README.md" class="btn btn-primary" target="_blank"><i class="fab fa-readme"></i> README.md</a>
                                <a href="https://github.com/xReapex/MovieCatalogWebsite" style="color: #e8eaea" class="btn" target="_blank"><i class="fab fa-github"></i> Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="centre"></div>
        <a id="projet-formation">
            <div style="height: 25vh"></div>
            <center><h1 >Projets de formation</h1></center><br><br>
            <p style="margin-bottom: 5%">Je vous présente ici 3 projets qui m'ont permis de me former dans une technologie, ces projets sont choisis aléatoirement parmit plein de projet ! N'hésitez donc pas à raffraichir la page et à consulter les informations supplémentaire de chaque projet. Visiter les projets personnels <a class="text-warning" href="#projet-perso">ici</a> !</p>
        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet1["name"] }}</h7>
                        <h6 class="card-text">{{ projet1['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet1['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet1['readme_url'] | raw }}
                        <a href="{{ projet1['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet2["name"] }}</h7>
                        <h6 class="card-text">{{ projet2['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet2['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet2['readme_url'] | raw }}
                        <a href="{{ projet2['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet3["name"] }}</h7>
                        <h6 class="card-text">{{ projet3['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet3['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet3['readme_url'] | raw }}
                        <a href="{{ projet3['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>


    <!-------------------------------------------------------->

        <div class="centre"></div>
        <a id="projet-perso">
            <div style="height: 25vh"></div>
            <center><h1 >Projets personnels</h1></center><br><br>
            <p style="margin-bottom: 5%">Je vous présente ici 3 projets qui m'ont permi d'expérimenter des technologies, ces projets sont choisis aléatoirement parmit plein de projets ! N'hésitez donc pas à raffraichir la page et à consulter les informations supplémentaire de chaque projet. Visiter les projets de formation <a class="text-warning" href="#projet-formation">ici</a> !</p>

        </a>

        <div class="row">
            <div class="zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet4["name"] }}</h7>
                        <h6 class="card-text">{{ projet4['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet4['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet4['readme_url'] | raw }}
                        <a href="{{ projet4['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class="zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet5["name"] }}</h7>
                        <h6 class="card-text">{{ projet5['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet5['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet5['readme_url'] | raw }}
                        <a href="{{ projet5['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
            <div class=" zoom col-sm-4">
                <div class="card project-card" style="width: 18rem; height: 100%">
                    <div class="card-body">
                        <h7 class="card-title"><c class="text-warning"><i class="fab fa-gitlab"></i></c> {{ projet6["name"] }}</h7>
                        <h6 class="card-text">{{ projet6['description'] }} <a class="text-info" href="{{ path('app.project.id', {'id': projet6['id']})  }}"><i class="fas fa-info-circle"></i></a></h6>
                        {{ projet6['readme_url'] | raw }}
                        <a href="{{ projet6['web_url'] }}" class="btn btn-warning" target="_blank"><i class="fab fa-gitlab"></i> Gitlab</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#top" type="button" class="btn btn-primary btn-circle btn-lg"><i class="fas fa-link"></i></a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}